<h2>
  {{title}}
</h2>

<b>Create new todo list group:</b>
<form [formGroup]="createNewGroupForm" (ngSubmit)="createNewGroup()">

  <div>
    <label for="title">
      Title
    </label>
    <input id="title" type="text" formControlName="title">
  </div>

  <div>
    <label for="description">
      Description
    </label>
    <input id="description" type="text" formControlName="description">
  </div>

  <button class="button" type="submit">Create</button>
</form>


<ul *ngFor="let item of list">
  <li>
    <a
      [title]="item.title"
      [routerLink]="['/group', item.id]"
    >
      <span><h3>{{item.title}}</h3></span>
    </a>
    <b>{{item.description}}</b>
    <button (click)="deleteGroupById(item.id)">Delete group</button>
    <important-group
      [itemGroup]="item"
      (notify)="notifyAboutImportant()"
    ></important-group>

  </li>
</ul>





