<ul *ngFor="let task of tasks">
  <li>
    <div>{{task.name}}</div>
    <div *ngIf="task.isDone">done</div>
    <div *ngIf="!task.isDone">not done</div>

    <button (click)="deleteTask(task.id)">Delete task #{{task.id}}</button>

    <div>
      <button (click)="toggleNoteTask(task)">
        <b *ngIf="checkExistTaskInNote(task.id)">ADDED IN NOTE</b>
        <b *ngIf="!checkExistTaskInNote(task.id)">ADD TASK TO NOTE</b>
        </button>
    </div>
  </li>
</ul>

<b>Add New Task:</b>
<form [formGroup]="newTaskForm" (ngSubmit)="addTask()">

  <div>
    <label for="name">
      new task title:
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <button class="button" type="submit">Add new task
  </button>
</form>



<button (click)="clearAllTasks()">Clear all tasks</button>
